<html>
	<head>
		<title>Bookmark Manager</title>
	</head>
	<body>
		<header>
			<h1>Bookmark Manager</h1>
			<nav>
				<a href="/add_link">Add link</a>
					<ul>
						<li><a href="/sign_up">Sign Up</a></li>
						<li><a href="/sign_in">Sign In</a></li>
					</ul>
			</nav>
		</header>
		<main>

			<!-- <% if current_user %> -->
	    	<!-- Welcome, <%= current_user.email %>! -->
	  	<!-- <% end %> -->

	  	<% if current_user %>
    		Welcome, <%= current_user.email %>!
    		<form method="post" action="/">
      		<input type="hidden" name="_method" value="delete">
      		<input type="submit" value="logout">
    		</form>
  		<% end %>

			<!-- <% if flash[:errors] %> -->
  			<!-- <div id="errors"><%= flash[:errors] %></div> -->
			<!-- <% end %> -->

			<% if flash[:errors] && !flash[:errors].empty? %>
  			Sorry, there were the following problems with the form. 
  			<ul id="errors">
    			<% flash[:errors].each do |error| %>
      			<li><%= error %></li>
    			<% end %>
  			</ul>
			<% end %>

			
	   	<%= yield %>
   	</main>

		<footer>
		</footer>
	</body>
